@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.avatar {
	border-radius: 50%;
}

button {
	padding: 5px;
	margin: 5px;
	display: inline-block;
	background-color: greenyellow;
	color: #0a0a0a;
	transition-duration: 0.4s;
	border-radius: 5px;
	max-width: 100px;
}

button:hover {
	background-color: red;
	color: white;
}

button:active {
	background-color: black;
	color: blueviolet;
}

/* styles For Tic-Tac-Toe */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 20px;
	padding: 0;
}

h1 {
	margin-top: 0;
	font-size: 22px;
}

h2 {
	margin-top: 0;
	font-size: 20px;
}

h3 {
	margin-top: 0;
	font-size: 18px;
}

h4 {
	margin-top: 0;
	font-size: 16px;
}

h5 {
	margin-top: 0;
	font-size: 14px;
}

h6 {
	margin-top: 0;
	font-size: 12px;
}

code {
	font-size: 1.2em;
}

ul {
	padding-inline-start: 20px;
}

* {
	box-sizing: border-box;
}

.tttsquare {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 65px;
	font-weight: bold;
	line-height: 70px;
	height: 70px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 70px;
}

.tttboard-row:after {
	clear: both;
	content: "";
	display: table;
}

.tttstatus {
	margin-bottom: 10px;
}
.tttgame {
	display: flex;
	flex-direction: row;
}

.tttgame-info {
	margin-left: 20px;
}

.go-to-button {
	padding: 5px;
	display: block;
	background-color: blue;
	color: red;
	transition-duration: 0.4s;
	border-radius: 5px;
}

.go-to-button:hover {
	background-color: darkred;
	color: white;
}

.go-to-button:active {
	background-color: black;
	color: blueviolet;
}

/* styles for profile */

.panel {
	border: 1px solid #aaa;
	border-radius: 10px;
	border-width: 5px;
	margin-top: 20px;
	padding: 10px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* styles for story tray */

.storytray {
	border: 1px solid #aaa;
	border-radius: 6px;
	float: left;
	margin: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	width: 70px;
	height: 100px;
	align-items: center;
}
.stories {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* styles for interactivity */

body {
	height: 280px;
}
select {
	margin-bottom: 10px;
	position: relative;
}

.dropdown {
	position: relative;
	max-width: 200px;
	color: black;
	background-color: lightblue;
	border-color: #fff;
	border-width: 0.5px;
}

.color-option {
	color: #0a0a0a;
}

/* Styles for managing state */

.checkbox {
	transform: scale(2.5);
	margin: 15px;
	transition-duration: 0.5s;
}

.checkbox:hover {
	transform: scale(2.5);
	margin: 15px;
}

.addtask {
	border: #999;
	border-style: solid;
	border-width: 2px;
	border-color: #999;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	margin: 5px;
	text-align: center;
}

/* Battleship */

.bs-square {
	background-image: radial-gradient(blue, blueviolet);
	border: 1px solid #999;
	float: left;
	font-size: 65px;
	font-weight: bold;
	line-height: 70px;
	height: 70px;
	text-align: center;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hit {
	background-image: radial-gradient(blue, blueviolet, red);
}

.bs-board-row:after {
	clear: both;
	content: "";
	display: table;
}

.bs-status {
	margin-bottom: 10px;
}
.bs-game {
	display: flex;
	flex-direction: row;
}

.bs-game-info {
	margin-left: 20px;
}
.bs-title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.bs-turn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.bs-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bs-board-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bs-reset {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.bs-board {
	display: inline-block;
}

.bs-label-row,
.bs-board-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bs-label {
	width: 80px;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;
}

.bs-label-empty {
	width: 70px;
	height: 70px;
}
/* styles for scroll */

.scroll-ul {
	padding-inline-start: 20px;
}

.scroll-li {
	padding: 0.5rem;
}

.active {
	background: rgba(0, 1200, 150, 0.4);
}

.scroll-ul,
.scroll-li {
	list-style: none;
	white-space: nowrap;
	display: flex;
	padding: 0.5rem;
	gap: 10px;
	flex-shrink: 0;
}

img {
	padding: 10px;
	margin: -10px;
	transition: background 0.2s linear;
}

.scroll-button {
	margin: 0.25rem;
}
.scroll-nav {
	text-align: center;
}

.scroll-div {
	width: 100%;
	overflow-x: hidden;
}

/* state styles */

.state {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.state-section {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 20px;
}

/* Submit form styles */

.submit-form {
	display: block;
	justify-content: center;
	align-items: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
